# Configuración del servidor
PORT=5001
NODE_ENV=development

# Configuración de MongoDB
MONGODB_URI=mongodb+srv://test:Camilo97@testad.htu4tut.mongodb.net/testad?retryWrites=true&w=majority&appName=testad
MONGODB_DB=testad

# Configuración JWT
JWT_SECRET=a7b4e761-41e9-42fe-bf57-52cba3e464ee
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24

# Configuración de CORS
CORS_ORIGIN=* 